@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.event-tile-container-text {
  padding-top: .5em;
  padding-left: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.event-tile-container {
  color:black;
  background-color: rgb(236, 236, 236);
  min-width: 27%;
  aspect-ratio: 1/1;
  border-style: outset;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  // padding-left: 1em;

}
.event-tile {
  color: white;
  // padding-left: 5em;
  height: 80%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  // min-height: 20em;
  border-color: #f1fbff;
  padding: .6em;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: auto;

  background-image: url("https://scontent-bos3-1.xx.fbcdn.net/v/t1.6435-9/165207537_3494506650655674_6032443256751856876_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=itgXoRx9C-oAX8Qkmgc&_nc_ht=scontent-bos3-1.xx&oh=00_AT8aBm1llh3HUVFBkqAuMAwJGB4_FgCrRW0ZlqmlOCZlLQ&oe=62B1B963");
  background-size: auto 100%;
  background-position: 5% 30%;
  // background-color:#0087c0;
}

.event-tile-container a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: inherit;
  text-decoration: none;
}

.event-list{
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color:white;
}
#ffffff
.jumbotron{
  display: flex;
  background-color: #0a50c2;
  background-size: cover;
  justify-content: center;
  align-items: center;
  color: white;
}

.event-list-container{
  background-color:#ffffff;
}

.event-list-form{
  background-color: aliceblue;
  padding:10em;
}

.event-card-container{
  color:white;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // background-color: #ddd6d6;
  height: auto;
}

.event-details-left{
  margin-left: 10%;
  margin-right: 5%;
  color:#ffffff;
  max-width: 36%;
  flex-grow: 1;
  border-style: outset;
  background-color:#0087c0;
  // border-radius: 2%;
  padding: 1.5em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.event-details-right{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 5%;
  margin-right: 10%;
  color: #ffffff;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 36%;
  aspect-ratio: 1/1;
  border-style: outset;
  background-color:#0087c0;  
  // border-radius: 2%;
  padding: 1.5em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.event-layout{
  min-width: 70%;
  margin-left: 10%;
  margin-right: 10%;
}

.joined-players-list{
  height: 100%;
  border: black;
  overflow: scroll;
}
.joined-players-pic{
  border-radius: 50%;
  height: auto;
  width: auto;
  padding: .3em;
}

.joined-player-tile{
  border-radius: 2%;
  margin-right: .3em;
  background-color: white;
  display: flex;
  height: 20%;
  align-items: center;
  padding: .5em;
}

.joined-player-info{
  text-align: center;
  color: black;
  width: auto;
}
.joined-player-image-container{
  border-radius: 50%;
  width: 17%;
  background-color: #0a50c2;
  margin: 10px;
}

.event-show-section {
  background-color:#ffffff;
}

.event-jumbotron {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#ffffff;
  text-align: center;
  background-color:#b21519 ;
}

.event-jumbotron h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.join-event-form {
  color:white;
}

.home-info-container{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: .5em;
  padding: 3em;
  text-align: center;
}

.home-info-container h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.footer {
  padding: 1em;
  background-color: black;
  color:white;
  height: 20%;
}

.tile-date {
  text-align: center;
  border-radius: 10%;
  max-width:26%;
  padding-left: .4em;
  padding-right: .4em;
  background-color: rgb(0, 119, 255);
}

.font-theme {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.white-text {
  color: white;
}

.join-event-input {
  width: 60%;
}
// .join-event-form-container{
//   border-style: solid;
//   border-color: black;
// }
